.allfoodcard-text {
	display: flex;

	justify-content: center;
	align-items: center;
	gap: 10px;
	border-radius: 25px;
	background: #352d2d;
	color: #fff;
	text-align: center;
	font-size: 25px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	text-transform: capitalize;
	width: 220px;
	height: 70px;
}
#allfoodcardContainer {
	max-height: 600px ;
	overflow-y: auto;
	scrollbar-width: none; /* Enable vertical scrolling */
	border-color: #271c15;
	background-color: rgba(0, 0, 0, 0.4);
	border-radius: 50px;
}
::-webkit-scrollbar {
	display: none;
}
.allfoodbody {
	background-image: url(https://hotelt.liara.run/images/front/Allfood.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-repeat: no-repeat;
	display: flex;
	flex-direction: column;
	justify-content: center;
	justify-items: center;
	min-height: calc(100vh - 64px);
	z-index: -1;
}
@media (max-width: 600px) {
	.allfoodbody {
	  min-height: calc(100vh - 56px);
	}
}

.allfoodtext {
	color: #0f0d0d;
	text-align: center;
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.74);
	font-size: 68px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	text-transform: capitalize;
}
.allfoodcard {
	border-radius: 25px;
	background: #1B0000;
	width: 438px auto;
	height: 198px auto;
}
.allfoodcard-header-text {
	color: #bebebe;
	text-align: center;

	font-size: 21px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	text-transform: capitalize;
}
.allfooditem-bg {
	background-color: rgba(0, 0, 0, 0.25);
	
}
.allfoodimage {
	width: 185px ;
	height: 170px;
	border-radius: 25px;
	border: 8px solid #352d2d;
}
.allfoodpop-up {
	border-radius: 16px;
	border: 4px solid #5f5c58;
	background: #1e0f0f;
}

.allfooddate {
	border-radius: 8px;

	background: radial-gradient(
		151.92% 127.02% at 15.32% 21.04%,
		rgba(165, 239, 255, 0.2) 0%,
		rgba(110, 191, 244, 0.04) 77.08%,
		rgba(70, 144, 212, 0) 100%
	);
	background-blend-mode: overlay, normal;
	box-shadow: 2px 16px 19px 0px rgba(0, 0, 0, 0.09);
	backdrop-filter: blur(40px);
	color: azure;
}
.allfoodchange {
	display: flex;
	width: 102px;

	align-items: center;
	justify-content: center;
	border-radius: 12px;
	border: 2px solid #5f5c58;

	background: #2c1d1d;
	color: #fff;
	text-align: center;
	font-size: 15px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	text-transform: capitalize;
}