.background-image {
    background-image: url('../assets/HomePage.jpeg');
    background-size: contain;
    background-position: top;
    background-repeat: no-repeat;
    height: 140vh;
    width: 100%;
} 

@media (max-width: 768px) {
    .background-image {
        background-size: contain;
    }
}
  