
.landingtext-color {
	color: #c1c1c1;
}

.landinginfo {
	color: #fafafb;
	font-size: xx-large;
	margin-bottom: 30px;
	font-weight: bold;
}

.landingdes {
	width: 60%;
	background-color: #353846;
}

.landingbtn-link {
	padding: 8px 16px;
	background-color: #b4b7b7;
	color: rgba(86, 89, 90, 255);
	border-radius: 4px;
	text-decoration: none;
	transition: background-color 0.6s ease;
}

.landingbtn-link2 {
	padding: 8px 16px;
	background-color: #1d1f29;
	border-radius: 4px;
	text-decoration: none;
	color: #b3b8b8;
	transition: background-color 0.6s ease;
}

.landingbtn-link:hover {
	background-color: #546f6f;
}

.landingbtn-link2:hover {
	background-color: #546f6f;
}

.landingnav-color {
	background-color: #2c2d37;
}

.landingfooter-color {
	background-color: #2c2d37;
}

.landingbody {
	background-color: #1d1f2c;
}

.landingcard {
	background-color: #353846;
}

.landingcontent {
	padding-top: 80px;
	/* Adjust this value based on your header's height */
}

.landingcard-container {
	position: relative;
	bottom: 200px;
}

.landingblurry-image {
	filter: blur(3px);
	/* Change the pixel value to adjust the blur effect */
}

.landinground-pic {
	border-radius: 9999px;
	position: relative;
	right: 10%;
}

.landinground-pic::after {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	width: 30%;
	/* Adjust the width to control the fade amount */
	height: 100%;
	background: linear-gradient(to right,
			transparent,
			#353846);
	/* Adjust the color as needed */
	pointer-events: none;
	mask-image: linear-gradient(to left, transparent 0%, #353846 10%);
	/* For browser compatibility, you might need vendor prefixes for mask-image */
}

.landingcard:hover {
	transform: scale(1.05);
	transition: transform 0.6s ease;
}

.column-1 {
	display: flex;
	flex-direction: column;
}

.column-2 {
	display: flex;
}